* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: sans-serif;
  background: #f5f5f5;
}

.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.w-full {
  width: 100%;
}
a {
  text-decoration: none;
}
/* header */
header {
  padding: 15px;
  background: #fff;
}
.logo > a {
  text-decoration: none;
}
.logo > a > h5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}
.single-bar {
  width: 18px;
  height: 2px;
  margin: 3px 0px;
  background: #6070ff;
  cursor: pointer;
}

/* hero */
.hero-bg {
  background-image: url("./assets/header-shapes\ mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  border-bottom-left-radius: 80px;
  background-color: #fff;
}
.intro-info > h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}
.intro-info > p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-top: 15px;
  padding-bottom: 15px;
}
.intro-info > a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}
.social-links-hero > a > img {
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
}

/* portfolio */
#portfolio {
  margin: 50px 0px;
  padding: 0px 24px;
}
.portfolio_single {
  background: #ffffff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 50px;
  padding-bottom: 20px;
}
.portfolio_single > img {
  width: 100%;
}
.portfolio_single > h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  padding-top: 12px;
}
.portfolio_single > .flex > h5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  padding-top: 10px;
  padding-right: 10px;
}
.portfolio_single > .flex > h6 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  padding-top: 10px;
  padding-right: 10px;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #c1c7d0;
  border: none;
  margin-top: 10px;
  margin-right: 10px;
}
.portfolio_single > p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}
.skill_btn {
  background: #ebebff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  padding: 5px 10px;
}
.skill_btn > span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}
.project_see_btn {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #396df2;
  background: transparent;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  margin-top: 5px;
}
